@use "../custom" as *;

.contact-section {
  background-color: #fff;
  color: #000;
  
  .contact-detail {
    background-color: #fff;
    border: 1px solid $primary;
  }
  
  .form-label {
    color: #495057;
  }

  .form-control {
    background-color: #f8f9fa;
    border: 1px solid $primary;
    border-color: $primary;
    color: $text-black;
    border-radius: $btns-border-radius;
    &:focus {
      border-color: $primary;
      box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
    }
    &::placeholder {
      color: #64646450;
    }
  }

  .btn-dark {
    background-color: $text-black;
    color: #fff;
    border-color: #000;
    &:hover {
      background-color: lighten($text-black, 10%);
    }
  }
}
