@use "../custom" as *;

.destinations-section {
  background-color: #f8f9fa;
  color: #000;
  padding: 5rem 0; 
}


.category-card {
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid #dee2e6; 
  border-radius: 1rem; 
  
  &:hover {
    transform: translateY(-8px); 
    border-color: #FFC107; 
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1); 
  }
}

.tour-carousel {
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.tour-card {
  min-width: 300px;
  max-width: 320px;
  background-color: #fff;
  border: 1px solid #ddd;
  overflow: hidden;
  border-radius: 1rem; 
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;

  img {
    height: 200px;
    object-fit: cover;
  }
  .ri-star-fill {
    color: #FFC107;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
  }
}

.tour-card-link {
    text-decoration: none;
    color: inherit;
}