// _footer.scss
@use "../custom" as*;


$footer-bg: $bg-dark;
$footer-link-color: $whitenavlinkColor;
$footer-text-color: #999;
$border-color: #333;
$primary-color: $primary;

.main-footer {
  background-color: $footer-bg;
  color: $footer-text-color;

  .form-control, .btn {
    border-radius: $btns-border-radius;
    border: none;
  }
  .form-control {
    background-color: $border-color;
    color: $footer-text-color;
    &:focus {
      background-color: $border-color;
      box-shadow: none;
    }
  }
  .btn-primary {
    background-color: $primary-color;
    color: $text-black;
    font-weight: bold;
  }

  h3, h5, a {
    color: $footer-text-color;
    text-decoration: none;
  }
  h3 {
    color: $text-white;
  }
  h5 {
    color: $text-white;
  }

  ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    li {
      margin-bottom: 0.5rem;
      a {
        transition: color 0.3s ease;
        &:hover {
          color: $text-white;
        }
      }
    }
  }

  .more-about-us {
    font-weight: bold;
  }

  .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $border-color;
    color: $text-white;
    margin-right: 1rem;
    transition: background-color 0.3s ease;
    ion-icon{
        font-size: 1.4em;
    }
    &:hover {
      background-color: $primary-color;
    }
  }
}

.form-control {
    background-color: $border-color;
    border-radius: $btns-border-radius;
    border: none;
    color: $text-white;
    padding: 1em;

    &::placeholder { 
      color: $dark-placeholder; 
      opacity: 1; 
    }

    
    &::-webkit-input-placeholder { 
      color: $dark-placeholder;
    }
    &:-moz-placeholder { 
      color: $dark-placeholder;
    }
    &::-moz-placeholder { 
      color: $dark-placeholder;
    }
    &:-ms-input-placeholder { 
      color: $dark-placeholder;
    }

    &:focus {
      background-color: #333;
      box-shadow: none;
    }
  }
