// hero-section.scss
@use "../custom" as*;

.hero-glamping {
  h1 {
    font-size: 3.5rem;
    line-height: 1.1;
      @include media-breakpoint-down(sm){
        font-size: 2.5rem;
        margin-top: -1em;
    
  }
  }

  .tour-card {
    position: relative;
      overflow: hidden; // Ensure content doesn't spill out


    img {
    width: 100%; // Ensure image fills its container
    height:350px; // Default height for smaller screens, adjust as needed
    object-fit: cover;
  }

    .avatars-stack {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;

      .avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-left: -10px;
        object-fit: cover;
      }

      .more {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000;
        color: #fff;
        font-size: 0.75rem;
      }
    }

    .play-btn, .arrow-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      font-size: 1.5rem;
    }

    .arrow-btn {
      top: 15px;
      right: 15px;
      left: auto;
      transform: none;
    }

    .hashtag {
      position: absolute;
      bottom: 15px;
      left: 15px;
    }
  }
}
.our-tour-emmerse-section{
  @include media-breakpoint-down(sm){
    margin-top: 1.4em;
  }
}

.play-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-programmed-text{
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  top: 10em;
  width: 50%;
  left: 1em;
  padding: 1em;
  border-radius: 1em 0 1em 1em ;
  font-size: 1.2em;
  display: none;
  border: 2px solid rgb(0, 255, 0);
}
.not-programmed-text.active{
  display: block;
 
}
.service-mini-card {
  background: #fff;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }

  i {
    display: block;
  }
}
.tour-card {
  overflow: hidden;
}

.image-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image-slider img.active {
  opacity: 1;
  position: relative;
}

/* Keep hashtag above images */
// .hashtag {
//   position: absolute;
//   bottom: 15px;
//   left: 15px;
//   z-index: 5;
// }
  .cursor-circle {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(255, 193, 7, 0.8); /* brand yellow */
  pointer-events: none; /* IMPORTANT */
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.08s ease-out;

 @include media-breakpoint-down(sm){
  display: none;
 }

}
