@use "../custom" as*;

.hero {
background: linear-gradient(
    rgba(0, 0, 0, 0.5),   /* top color with opacity */
    rgba(0, 0, 0, 0.5)    /* bottom color with opacity */
  ),
  url('/pictures/sammy-wong-JH0ubtXy0Tw-unsplash.jpg') center/cover no-repeat;
  
  color: #fff;
  padding: 150px 0;
  position: relative;
  border-radius: 2em;



  .hero-content {
    position: relative;
    z-index: 2;
  }
}

// .service-card {
//   background: #fff;
//   border-radius: 16px;
//   padding: 30px;
//   box-shadow: 0 4px 20px rgba(0,0,0,0.05);
//   transition: transform 0.3s ease;

//   &:hover {
//     transform: translateY(-5px);
//   }
// }

.stats-box {
  background: linear-gradient(135deg, #e63946, #ff6b6b);
  border-radius: 16px;
  padding: 60px 20px;

  h2 {
    font-size: 2.5rem;
  }
}

.why-choose {
  background: #f9f9f9;
  border-radius: 16px;

  ul {
    padding-left: 0;
    li {
      font-size: 1rem;
    }
  }
}
