@use "../custom" as*;

.visa-application {
  background: #fdfdfd;
}

.index-step-card {
  background: #fff;
  border-radius: $btns-border-radius;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  transition: transform 0.3s;
  border: 1px solid $black-border-color;
}

.index-step-card:hover {
  transform: translateY(-5px);
}
