@use "../custom" as*;

$highlight: #000;

.tour-doc {
  .text-highlight {
    color: $highlight;
  }

  .doc-card {
    position: relative;

    img {
      border-radius: $btns-border-radius;
      width: 100%;
      object-fit: cover;
    }

    .doc-overlay {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      color: #fff;
      text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    }

    .doc-video-overlay {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    button {
      width: 50px;
      height: 50px;
      font-size: 1.5rem;
    }
  }

  .badge {
    font-size: 0.85rem;
    padding: 0.5rem 0.9rem;
    border-radius: 20px;
  }
}
.customer-review-avater-boundary{
        width: 5.8em;
        height: 5.8em;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid black;

}
.customer-review-avater{
    width: 5em;
    
}

.travel-guide-section .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.travel-guide-section .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1) !important;
}

.travel-guide-section .icon-box i {
    //background: $primary;
    padding: 10px;
    border-radius: $btns-border-radius;
    color: $icon-color;
}

.travel-guide-section .bg-warning .icon-box i {
    background: rgba(139, 4, 4, 0.1)
    
}

.need-help{
  border: 2px solid $primary;
}
.contact-us-btn{
  background-color: $primary;
  color: $text-black;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: .8em 1.2em;
  border-radius: $btns-border-radius;

  &:hover {
    background-color: #e6b800;
    color: #000;
  }
}