// _packages.scss
@use "../custom" as *;

$bg-dark: #111;
$highlight: #FFC107;

.packages-section {
  background: $bg-dark;

  .text-highlight {
    color: $highlight;
  }
}

.tour-packages {
  background: transparent;
}

/* CARD */
.package-card {
  overflow: hidden;
  height: 100%;
  box-shadow: 0 8px 25px rgba(0,0,0,0.06);
  transition: transform 0.3s ease;
  border: none;
}

/* HOVER EFFECT */
.package-card:hover {
  transform: translateY(-6px);
}

/* IMAGE */
.package-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1em;
}

/* BODY */
.packages-card-body {
  margin-top: 1em;
  background-color: #111;
  text-align: left;
}

.packages-card-body h5 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 8px;
  width: 80%;
}

/* PRICE */
.price {
  font-size: 0.9rem;
  font-weight: 500;
  color: $highlight;
}

.price span {
  font-size: 0.8rem;
  color: #8a8a8a;
}

/* BUTTON */
.explore-btn {
  background: $highlight;
  color: #000;
  font-size: 0.8rem;
  padding: 6px 14px;
  border-radius: 6px;
  margin: 10px 0;
}

.explore-btn:hover {
  background: #816100;
  color: #fff;
}

/* META */
.tour-meta {
  display: flex;
  gap: 16px;
  font-size: 0.75rem;
  color: #8a8a8a;
  align-items: center;
  justify-content: space-between
;
  margin-top: 10px;
}

.tour-meta ion-icon {
  margin-right: 4px;
  vertical-align: middle;
}
