
@use "../custom" as*;

.visa-section {
    background-color: #fff;
    color: #000;
}

.contact-card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    text-align: center;
    transition: all 0.3s ease;
    
    i {
        color: #FFC107;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
}

.form-control, .form-select {
    background-color: #f8f9fa;
    border-color: #dee2e6;
    &:focus {
      border-color: #FFC107;
      box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
    }
}

.btn-warning {
    background-color: #FFC107;
    color: #000;
    border-color: #FFC107;
    &:hover {
      background-color: darken(#FFC107, 10%);
      border-color: darken(#FFC107, 10%);
    }
}