
@use "../custom" as *;

.mainHeading {
    color: $mainHeadingColor;
}
.subHeading {
    color: $subHeadingColor;
    font-size: 1.8rem;
    margin-top: 1em;

    @include media-breakpoint-down(sm) {
    font-size: 1.2rem;
    }
}
  .nav-link{
    color: $navlinkColor;
    font-weight: 500;
    transition: 0.3s;
    a{
        ion-icon{
           
        }
    }
  }
  .slogan-text{
    color: $primary;
    font-size: 1.2rem;
}

.apply-here-link{
    color: $primary;
   

}
.price-tag{
    color: $text-black;
    font-weight: bold;
    border-radius: 5px;
}
.tour-tag{
    color: $paragraphColors;

    
}
.meet-the-founder{
    color: $primary;
}
.cant-wait{
    color: $primary;
    font-style: italic;
}